@import url('../../styles/colors.css');

.post {
	flex: 1;
	display: flex;
	
	padding: 14px;
	background: var(--primary-grey);
	border-radius: 8px;
	overflow: hidden;
}

.post__container {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post__author {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 4px 4px 0 4px;
}
.post__author__avatar { 
	--size: 34px;
	min-width: var(--size);
	min-height: var(--size);
	max-width: var(--size);
	max-height: var(--size);
	border-radius: 50%;
}
.post__author__name {
	font-size: 1rem;
	font-weight: 600;
	color: var(--primary-white);
}

.post__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 14px;
}
.post__content-image {
	min-width: 100%;
	/* max-height: 500px; */
	aspect-ratio: 1/1;
	border-radius: 8px;
}

.post__content-action {
	display: flex;
	justify-content: space-between;
}
.post__content-action__wrapper {
	display: flex;
	gap: 20px;
}
.post__content-action__icon {
	--size: 28px;
	min-width: var(--size);
	min-height: var(--size);
	max-width: var(--size);
	max-height: var(--size);
	cursor: pointer;
}

.post__content-text {
	min-width: 100%;
	display: flex;
	gap: 14px;
	flex-direction: column;
	font-size: 1rem;
	color: var(--primary-white);
}
.post__content-text__likes {
	display: flex;
	gap: .6ch;
	font-size: .875rem;
	font-weight: 600;
}

.post__content-text__container {
	display: flex;
	gap: .4ch;
}
.post__content-text__username {
	display: flex;
	white-space: nowrap;
	font-weight: 600;
}
.post__content-text__wrapper {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post__content-text__time {
	font-size: .750rem;
	color: var(--opacity-white--75);
}