@import url("../../styles/colors.css");

.navbar__icon-wrapper {
	--size: 40px;
	min-width: var(--size);
	min-height: var(--size);
	padding: 8px;
}

/* ------------------------ Navbar Top ------------------------ */

.navbar-top {
	min-width: 100%;
	display: flex;
}

.navbar-top__container {
	min-width: 100%;
	display: flex;
}

.navbar-top__wrapper {
	display: flex;
}
.navbar-top__wrapper--align-right {
	margin-left: auto;
}

/* ------------------------ Navbar Page ------------------------ */

.navbar-page {
	min-width: 100%;
	display: flex;
}

.navbar-page__container {
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-page__header {
	font-size: 1.125rem;
	font-weight: 600;
	color: var(--primary-white);
}


