.signup {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
}

.signup__wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border-radius: 10px;
	padding: 20px;

	max-width: 560px;
	min-height: 720px;
}

.signup__header {
	position: absolute;
	top: 80px;
	left: 20px;
	right: 20px;
}

.signup__input-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.signup__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.signup__input-header-title {
	font-size: 1.250rem;
	text-align: center;
	color: var(--primary-white);
}

.signup__button-container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.signup__button-seperator { 
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.125rem;
	color: var(--primary-white);
	min-height: 54px;
}

@media (min-width: 580px) {
	.signup {
		align-items: center;
		background: var(--primary-grey);
	}

	.signup__wrapper {
		margin: 4vh 4vw;
		background: var(--primary-black);
	}
}
