@import url("../../styles/colors.css");

.button {
	flex: 1;
	display: grid;
	place-items: center;
	padding: 20px 0;
	border-radius: 5px;

	font-size: 1rem;
	font-weight: 600;
}

.primary {
	background: var(--primary-dark-blue);
	color: var(--primary-white);
}

.bold {
	background: var(--primary-white);
	color: var(--primary-black);
}

.bold {
	background: var(--primary-white);
	color: var(--primary-black);
}

.optional {
	background: var(--primary-grey);
	color: var(--primary-white);
}