.login {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 20px;
	padding-top: 30%;
	overflow: hidden;
}

.login__header {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.login__header-icon {
	max-width: 12%;
}

.login__header-title {
	font-size: 2rem;
	color: var(--primary-white);
}

.login__input-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.login__input-seperator {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.125rem;
	color: var(--primary-white);
	min-height: 54px;
}

.login__button-container {
	max-width: 100%;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
