.debug {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.debug__content {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 32px 10px 128px;
	margin-top: 10px;

	color: white;
}

.debug__content__container {
	display: flex;
	flex-direction: column;
	gap: 16px;

	color: white;
}

.debug--hide {
	display: none;
}