@import url("../../styles/colors.css");

.seperator-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.seperator-element {
	min-height: 3px;
	display: flex;
	background: var(--primary-white);
	border-radius: 4px;
}
.seperator-element--horizontal {
	flex: 1;
}
.seperator-element--vertical {
	align-self: stretch;
}