.edit-profile {
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.edit-profile--navbar {
	position: fixed;
	z-index: 272727;
}
.edit-profile--navbar__button {
	--size: 40px;
	min-width: var(--size);
	min-height: var(--size);
	max-width: var(--size);
	max-height: var(--size);
	padding: 8px;
	display: flex;
}

.edit-profile__header__banner__label {
	position: relative;
	min-height: 100%;
	min-width: 100%;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}
.edit-profile__header__avatar__label {
	position: relative;
	min-height: 100%;
	min-width: 100%;
	cursor: pointer;
}
.edit-profile__header__banner__label input[type='file'],
.edit-profile__header__avatar__label input[type='file'] {
	display: none;
}
.edit-profile__header__banner__label:hover
	.edit-profile__header__banner__label__overlay {
	opacity: 1;
}
.edit-profile__header__avatar__label:hover
	.edit-profile__header__avatar__label__overlay {
	opacity: 1;
}

.edit-profile__popup-container {
	position: fixed;
	top: 92px;
	left: 0;
	right: 0;
	width: 100%;
	display: none;

	padding: 10px;
	z-index: 272727;
}

.edit-profile__wrapper {
	flex: 1;
	/* align-self: stretch; */
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;

	/* experimental */
	min-width: 600px;
	max-width: 600px;
}
@media (max-width: 600px) {
	.edit-profile__wrapper {
		min-width: 100%;
		max-width: 100%;
	}
}

.edit-profile__header {
	display: flex;
	flex-direction: column;
	position: relative;

	margin-top: 46px;
}
.edit-profile__header__banner {
	min-width: 100%;
	max-width: 100%;
	min-height: 120px;
	aspect-ratio: 4 / 1;
	display: flex;

	border-radius: 0 0 10px 10px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--primary-blue);
}
.edit-profile__header__banner__label__overlay {
	min-width: 100%;
	min-height: 100%;
	aspect-ratio: 4 / 1;
	opacity: 0;
	overflow: hidden;
	background-color: var(--opacity-grey--75);
	display: flex;
	display: grid;
	place-items: center;
	padding-top: 40px;
	transition: opacity 0.2s ease-in-out;
}
.edit-profile__header__banner__label__overlay__wrapper {
	width: clamp(24px, 24px, 24px);
	height: clamp(24px, 24px, 24px);
}

.edit-profile__header__container {
	max-height: 40px;
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 6px;

	margin: 10px 26px 0;
}
@media (max-width: 350px) {
	.edit-profile__header__container {
		max-height: unset;
		flex-direction: column;
		align-items: center;
	}
}

.edit-profile__header__avatar {
	position: relative;
	width: clamp(70px, 20vw, 90px);
	height: clamp(70px, 20vw, 90px);
	aspect-ratio: 1 / 1;

	border-radius: 50%;
	background-color: var(--primary-grey);
	outline: 6px solid var(--primary-black);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	margin-top: -50px;
}

.edit-profile__header__avatar__label__overlay {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 1 / 1;
	opacity: 0;
	overflow: hidden;
	border-radius: 50%;
	background-color: var(--opacity-grey--75);
	display: grid;
	place-items: center;
	padding: 28px;
	transition: opacity 0.2s ease-in-out;
}

.edit-profile__header__avatar__label__guide {
	min-width: 32px;
	min-height: 32px;
	max-width: 32px;
	max-height: 32px;
	position: absolute;
	z-index: 27;
	bottom: -6px;
	right: -6px;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	opacity: 1;
	border-radius: 50%;
	background-color: var(--primary-purple);
	display: grid;
	place-items: center;
	padding: 6px;
	cursor: pointer;
}

.edit-profile__header__statistics {
	flex: 1;
	align-self: stretch;
	display: flex;
	align-items: flex-end;
	color: var(--primary-white);
}
.edit-profile__header__statistics-items {
	flex: 1;
	display: flex;
	align-items: center;
}
.edit-profile__header__statistics-item {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.edit-profile__header__statistics-item--seperator {
	flex: 0;
	min-height: 33px;
	align-self: center;
}

.edit-profile__header__statistics-item__value {
	font-size: clamp(0.875rem, 0.8333rem + 0.2222vw, 1rem);
	font-weight: 600;
	display: grid;
	place-items: center;
	color: var(--primary-white);
}
.edit-profile__header__statistics-item__description {
	font-size: clamp(0.75rem, 0.7083rem + 0.2222vw, 0.875rem);
	font-weight: 500;
	display: grid;
	place-items: center;
	color: var(--opacity-white--50);
}

.edit-profile__header__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	color: var(--primary-white);
	padding: 0 20px;

	margin-top: 16px;
}
.edit-profile__header__content__username {
	font-size: var(--font-size--medium);
	font-weight: 600;
}
.edit-profile__header__content__valid-name {
	font-size: var(--font-size--small);
	font-weight: 500;
	color: var(--opacity-white--50);
}
.edit-profile__header__content__bio {
	word-wrap: break-word;
	white-space: pre-wrap;
	font-size: var(--font-size--small);
	font-weight: 500;

	margin-top: 16px;
}

.edit-profile__header__content__action {
	display: flex;
	gap: 6px;

	margin-top: 32px;
}
.edit-profile__header__content__action > * {
	flex: 1;
	display: flex;
	min-height: 44px;
	max-height: 44px;
	padding: 0;
}
.edit-profile__header__content__action > * > * {
	flex: 1;
	padding: 0;
	font-size: 0.875rem;
}

.edit-profile__body {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 20px;

	padding-bottom: 120px; /* Void Padding */

	font-size: var(--font-size--tiny);
	font-weight: 500;
	color: var(--opacity-white--50);
}
.edit-profile__body__description {
	width: clamp(85%, 100%, 85%);
}
.edit-profile__body__title {
	font-size: var(--font-size--large);
	font-weight: 600;
	color: var(--primary-white);
}

.edit-profile__body__container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.edit-profile__body__container__item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.edit-profile__body__container__title {
	font-size: var(--font-size--medium);
	font-weight: 600;
	color: var(--primary-white);
}
.edit-profile__body__container__description {
	font-size: var(--font-size--tiny);
	width: clamp(80%, 100%, 80%);
}
